nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-container {
  flex: 1 1 1;
  display: flex;
  gap: 30px;
}

.header-link {
  display: inline;
  font-family: "Roboto";
  color: lightgray;
  font-size: 16px;
}
.header-logo {
  flex: 1 1 1;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 25px;
}
